body {
    background-color:#03C8A8;
    font-size: 1.5rem;
    color: #fff;
    text-shadow: 0 2px 0 #000;
    text-align: center;
  }
  

  
  #container {
    margin: 0 auto;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    gap: 25px 25px;
  }
  
  .box {
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5c5c5c;
  }
  
  .box:hover {
    scale: 1.2;
  }
  
  .fizzbuzz {
    background-color: red;
  }
  
  .fizz {
    background-color: green;
  }
  
  .buzz {
    background-color:orange;
  }